@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i,700,700i');

//Basic colors
$darker: #545454;
$dark: #727272;
$light: #9a9a9b;
$ligher: #cdcdcd;
$white: #fffdf5;

//Rainbow colors
$red: #ffa08f;
$orange: #ffcb8f;
$yellow: #fff08f;
$green: #c4ff8f;
$blue: #8fd7ff;
$purple: #958fff;
$pink: #ef8fff;

//Circle vars
$diameter: 4em;

//Fonts
$textFont:'Josefin Sans', sans-serif;
