//Basic colors
$darker: #545454;
$dark: #727272;
$light: #9a9a9b;
$ligher: #cdcdcd;
$white: #fffdf5;

//Rainbow colors
$red: #ffa08f;
$orange: #ffcb8f;
$yellow: #fff08f;
$green: #c4ff8f;
$blue: #8fd7ff;
$purple: #958fff;
$pink: #ef8fff;

//Circle vars
$diameter: 2em;

body{
    background-color: $darker;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;

  .App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    width: 100%;
  }

  .App-header-top{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .circle{
        width: $diameter;
        height: $diameter;
        border-radius: $diameter / 2;
        margin-top: 1em;
      }

      .red{
          background: $red;
      }

      .orange{
          background: $orange;
      }

      .yellow{
         background: $yellow;
      }

      .green{
          background: $green;
      }

      .blue{
          background: $blue;
      }

      .purple{
          background: $purple;
      }

      .pink{
          background: $pink;
      }
  }
}
